<style>
    .change_pw{
        font-size: 22px;
        align-self: center;
        margin-bottom: 25px;
        margin-top: 10px;
        color: #4C6A92;
    }

    .label_pw{
        font-size: 15px;
    }

    #btn_pw{
        width: 100%;
        height: 45px;
        border-radius: 5px;
        margin-top: 15px;
        background-color: #4C6A92;
        color: #fff;
    }

    #change-password-form input{
        font-size: 15px;
        padding: 10px;
    }

</style>


<div id="myModal" class="modal pw_model">
    <div class="modal-content">

        <span class="close-btn" id="close-popup-btn">&times;</span>
        <h2 class="change_pw">Change Password</h2>
        <form id="change-password-form" onsubmit="return validateForm()">
          <label for="current-password" class="label_pw">Current Password:</label>
          <input type="password" id="current-password" name="current-password" required>
  
          <label for="new-password" class="label_pw">New Password:</label>
          <input type="password" id="new-password" name="new-password" required>
  
          <label for="confirm-password" class="label_pw">Confirm New Password:</label>
          <input type="password" id="confirm-password" name="confirm-password" required>
  
          <button id="btn_pw" type="submit">Submit</button>
          <div id="error-message" class="error-message"></div>
        </form>

    </div>
</div>

<script>
    const openPopupBtn = document.getElementById('open-popup-btn');
    const closePopupBtn = document.getElementById('close-popup-btn');
    const popup = document.querySelector('.pw_model');
    const changePasswordForm = document.getElementById('change-password-form');
    const errorMessage = document.getElementById('error-message');

    // Open Popup when button is clicked
    openPopupBtn.addEventListener('click', () => {
        popup.style.display = 'flex'; // Show the popup
        document.getElementById('current-password').focus();
    });

    // Close Popup when close button is clicked
    closePopupBtn.addEventListener('click', () => {
    popup.style.display = 'none'; // Hide the popup
    });

    // Optio
</script>